
@import "./animate";

$main-color : #F53855;
$bg-color: #FFF;
$white-color : #FFF;
$black-color : #333;
$background-plane : #F6F6F6;



body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;


    .gape {
        background-color: $bg-color;
        padding: 0px 50px;

        header {
            position: relative;
            // overflow: hidden;
            

            padding: 10px 0px;
            .navbar {
                display: flex;
                justify-content: space-between;
                overflow: hidden;

                .logo {
                    flex: 1;
                }

                .open-close {
                    display: none;
                }

                .sign {
                    flex: 1;
                    display: flex;
                    justify-content: flex-end;
                    padding: 8px 0px;

                    button {
                        background-color: #FFF;
                        color: $black-color;
                        border: none;
                        padding: 5px 25px;
                        border:  solid 1px #FFF;
                        margin: 0px 5px;
                        cursor: pointer;
                        border-radius: 10px;
                        font-weight: bold;
                        transition: all .4s ease-in-out;

                        &:first-of-type {
                            &:hover {
                                border-color: $black-color;
                            }
                        }


                        &:last-of-type {
                            color: $main-color;
                            border-color: $main-color;
                        }

                        @media (max-width : 1000px) {
                            padding: 5px 20px;
                        } 
                       
                    }

                }

                nav {
                    flex: 2;
                    ul {
                        list-style-type: none;
                        display: flex;
                        justify-content: space-around;

                        a {
                            text-decoration: none;
                            color: #333;
                        }


                        @media (max-width : 1000px) {
                            font-size: 15px;
                        } 
                    }
                }



                @media (max-width : 915px) {
                    nav {
                        position: absolute;
                        z-index: 100;
                        top: 50px;
                        background-color: #FFF;
                        border: none;
                        width: 100%;
                        height: 0px;

                        ul {
                            flex-direction: column;
                            text-align: center;
                            padding: 5px 30px;
                            display: none;
                            padding: 17px 0px 39px 0px;
                            text-align : left;

                            li {
                                padding: 10px;
                                border-bottom: solid .5px #d9d9d980;
                            }
                        }
                    } 

                    .open-close {
                        display: block;
                        width: 30%;
                        text-align: right;
                        line-height: 43px;
                        font-size: 20px;

                        i {
                            cursor: pointer;
                        }
                    }
        
                    .logo {
                        img {
                            width: 65%;
                            padding-top: 8px;
                        }
                    }
              
                }


                @media (max-width: 690px) {
                   .sign {
                       display: none;
                   }
                }

            }
        }


        .get__started__container {
           display: flex;
           padding: 55px 5px 0px 5px;
           position: relative;

           .get__started__left {
               min-height: 400px;
               padding: 15px 32px 15px 10px;
               flex: 1;

               h1 {
                   font-weight: 500;
                   font-size: 55px;

                   span {
                       font-weight: bold;
                       font: 70px;
                   }

                   @media  (max-width : 1200px) {
                      font-size: 45px;
                      span {
                        font-weight: bold;
                        font: 50px;
                    }
 
                   }

                   @media  (max-width : 1080px) {
                        font-size: 35px;
                        span {
                        font-weight: bold;
                        font: 40px;
                        }
                   }  
     
               }

               p {
                   color: #4F5665;
                   font-weight: 400;
                   font-size: 14px;
                   line-height: 22px;
               }

               button {
                   background-color: #F53838;
                   color: $white-color;
                   padding: 15px 60px;
                   border: none;
                   border-radius: 10px;
                   cursor: pointer;
                   font-weight: bold;
                   box-shadow: 0px 12px 29px #f538388c;
                   position: static;
                   margin-top: 35px;
               }

               @media  (max-width : 1080px) {
                  padding: 15px 16px 15px 10px;
               }

               @media  (max-width : 1200px) {
                    button {
                    position: static;
                    margin-top: 13px;
                    }
               }
           }
          
           .get__started__right {
               min-height: 400px;
               flex: 1;
               img {
                   width: 100%;
                   object-fit: cover;
               }

           }


           @media (max-width: 915px) {

               .get__started__left {
                   min-height: auto;
                   margin-bottom: 10px;
                   

                   h1 {
                       line-height: 40px;
                       font-size: 20px;
                   }

                   p {
                       line-height: 20px;
                   }
               }

               .get__started__right {
                // display: none;
                    padding-top: 30px;
               }
           }

           @media (max-width: 800px) {
             flex-direction: column;
            .get__started__left {
                min-height: auto;
                margin-bottom: 10px;
                

                h1 {
                    line-height: 50px;
                    font-size: 35px;
                }

                p {
                    line-height: 30px;
                     font-size: 14px;
                }
            }

            .get__started__right {
             display: none;
            }
        }

        }


        .services__conrtainer {
             padding: 15px 15px;
             margin: 15px 0px;
            .services__container__content {
                width: 90%;
                margin: auto;
                background-color: $white-color;
                box-shadow:  0px 0px 32px #0d10250d;
                border-radius: 10px;
                display: grid;
                grid-template-columns: repeat(3 , 1fr);
                padding: 30px 10px;

                div {
                    display: grid;
                    place-content: center;
                    grid-template-columns: auto auto;
                    gap: 20px;

                    
                    &:first-of-type {
                        border-right: solid 1px #333;
                    }

                    &:last-of-type {
                        border-left: solid 1px #333;
                    }

                    h1 {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin: 0px;

                        span {
                            font-size: 17px;
                        }

                        small {
                            font-weight: 200;
                            font-size: 15px;
                        }
                    }
                }


                @media (max-width: 915px) {
                    grid-template-columns: repeat(1 , 1fr);

                    div {    
                        grid-template-columns: repeat(1 , fr);                  
                        width: 50%;
                        padding: 35px 0px;
                        margin: auto;

                        &:first-of-type {
                            border-right: none;
                            border-bottom: solid 1px #333;
                        }
    
                        &:last-of-type {
                            border-left: none;
                            border-top: solid 1px #333;
                        }

                    }

                }
            }

        }


        .features__container {
            margin-top: 30px;
            padding: 20px 10px;
            display: grid;
            grid-template-columns: repeat(2 , 1fr);
            overflow: hidden;

            .features__container__left {
                padding: 40px;
               img {
                    width: 100%;
                    object-fit: cover;
               }

               @media (max-width: 1030px) {
                   padding: 15px;
                }
 
            }

            .features__container__right {
                padding: 40px;

                div {        
                    width: 80%;
                    padding-top: 50px;
                    margin: auto;

                    p {
                        color: #4F5665;
                    }

                    ul {
                        list-style-type: none;
                        li {
                            color: #4F5665;
                            padding: 6px;
                            margin: 10px 0px;

                            &::before {
                                color: transparent;
                                font-size: 1px;
                                content: " ";
                                margin-left: -1.3em;
                                margin-right: 15px;
                                padding: 10px;
                                background-color: #2FAB73;
                                // -webkit-mask-image: url("./../assets/svgs/done.svg");
                                // -webkit-mask-size: cover;
                            }

                        }
                    }

                    @media (max-width: 1200px) {
                        padding-top: 20px;
                        h1 {
                            font-size: 1.3em;
                        }
                    }

                    @media (max-width: 1070px) {
                        width: 100%;
                    }

                    @media (max-width: 1000px) {
                        h1 {
                            font-size: 1em;
                        }
                    }

                    @media (max-width: 880px) {
                        ul {
                            padding-left: 5px;
                            li {
                                font-size: 16px;
                            }
                        }
                    }

                    @media (max-width: 800px) {
                        ul {
                            padding-left: 2px;
                            li {
                                font-size: 14px;
                            }
                        }
                    }

                }
            }

               @media (max-width: 760px) {
                        grid-template-columns: repeat(1 , 1fr);

                        .features__container__left {
                            order: 2;
                        }

                        .features__container__right {
                            order: 1;
                            padding: 20px;

                            h1 {
                                font-size: 1em;
                            }

                            ul {
                                padding-left: auto;
                                li {
                                    font-size: 16px;
                                }
                            }
                        }
                }

        }
    }

    main {
        background-color: #F6F6F6;
        padding: 50px 50px;
        .planes__container {

            .planes {
                h4,h1 {
                    text-align: center;
                    font-weight: bold;
                }

                p {
                    text-align: center;
                    color: #4F5665;
                    width: 40%;
                    margin: auto;
                    font-style: normal;
                    font-size: 16px;
                }

                .planes__details {
                    display: grid;
                    grid-template-columns: repeat(3 , 1fr);
                    column-gap: 30px;
                    width: 80%;
                    margin: auto;
                    padding-top: 35px;

                    .details {
                        background-color: $white-color;
                        padding: 15px;
                        border-radius: 15px;
                        border: solid 1px #DDDDDD;
                        transition: all .2s ease-in-out;


                        img {
                            display: block;
                            margin: auto;
                            text-align: center;
                        }

                        ul {
                            list-style: none;

                            li {
                                font-family: 'Rubik';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 30px;
                            }

                            li::before {
                                color: transparent;
                                font-size: 1px;
                                content: " ";
                                margin-left: -1.3em;
                                margin-right: 15px;
                                padding: 10px;
                                background-color: #2FAB73;
                                -webkit-mask-image: url("./../assets/svgs/plane-detail.svg");
                                -webkit-mask-size: cover;

                            }

                        }

                        .plan__type {
                            text-align: center;

                            h4 {
                                span {
                                    color: #4F5665;
                                }
                            }

                            button {
                                color: $main-color;
                                border: solid 1px $main-color;
                                padding: 8px 30px;
                                border-radius: 10px;
                                background: $white-color;
                                cursor: pointer;
                                transition: all .4s ease-in-out;

                                &:hover {
                                    background-color: $main-color;
                                    color: $white-color;
                                    border: solid 1px $white-color;
                                }

                            }
                        }


                        &:hover {
                            border-color: $main-color;
                            cursor: pointer;
                        }

                    }


                    @media (max-width : 1130px) {
                        grid-template-columns: repeat(2 , 1fr);
                    }

                    @media (max-width: 780px) {
                        grid-template-columns: repeat(1 , 1fr);
                        width: 100%;
                        div {
                            margin-bottom: 20px;
                        }

                    }

                }

                @media (max-width: 1130px) {
                    p {
                        width: 70%;
                    }
                }

                @media (max-width: 780px) {
                    p {
                        width: 95%;
                        font-size: 14px;
                    }
                }
            }


        }


        // servers location
        .server__location__container {
            padding-top: 90px;
            text-align: center;
            
            h1 {
                font-style: normal;
                font-weight: bold;
                font-size: 35px;
                line-height: 40px;
                width: 30%;
                margin: auto;
            }

            p {
                width: 34%;
                font-size: 14px;
                margin: auto;
                margin-top: 20px;
                margin-bottom: 46px;
            }

            .map__location {
                padding: 0px 50px 50px 50px;
                img {
                    object-fit: cover;
                }
            }

            @media (max-width: 1230px) {
                h1 {
                    width: 50%;
                }

                p {
                    width: 85%;
                }
            }

            @media (max-width: 880px) {
                h1 {
                    width: 80%;
                    font-size: 25px;
                }

                p {
                    width: 85%;
                }
                .map__location {
                    padding: 0px 10px 10px 10px;
                    img {
                        object-fit: cover;
                    }
                }
            }
        }

    }


    .spons__container {
        padding: 20px 0px;
       .row__container {
           display: flex;
           justify-content: space-evenly;
           padding: 0px 100px;
           .col__container {
               text-align: center;
               padding: 10px 60px;
               text-align: center;

               img {
                   width: 100%;
                   object-fit: cover;
               }

               @media (max-width : 1170px) {
                   padding: 40px;
               }

               @media (max-width : 1000px) {
                    padding: 30px;
               }

               @media (max-width: 800px) {
                   padding: 20px;
               }

               @media (max-width: 700px) {
                   padding: 17px;
               }

               @media (max-width : 600px) {
                   padding: 10px;
                   width: 25.333%;
                   font-size: 16px;
               }

           }

           @media (max-width: 900px) {
               padding: 0px 50px;
           }

           @media (max-width : 670px) {
               padding: 0px;
           }

       }

   }

    
   .section2 {
        background-color: #F6F6F6;
        padding: 40px 0px 70px 0px;
       .testimonials {
           > h1 {
                width: 25%;
                margin: auto;
                text-align: center;
                font-weight: 700;
                line-height: 43px;
                font-size: 30px;

                @media (max-width: 1220px) {
                    width: 40%;
                }

                @media (max-width: 1090px) {
                    width: 50%;
                    font-size: 29px;
                }

                @media (max-width: 865px) {
                    width: 80%;
                    font-size: 29px;
                    line-height: 33px;
                }

                @media (max-width: 600px) {
                    font-size: 19px;
                }
           }

           > p {
                font-size: 16px;
                color: #4F5665;
                width: 46%;
                margin: 18px auto;
                text-align: center;

                @media (max-width: 1220px) {
                    width: 54%;
                }

                @media (max-width: 865px) {
                    width: 80%;
                    font-size: 14px
                }
           }

           .testimonial {
                display: grid;
                width: auto;
                grid-template-columns: repeat(4 , 420px);
                overflow: hidden;
                width: 80%;
                margin: auto;
                column-gap: 7px;

                @media (max-width: 550px) {
                    grid-template-columns: repeat(4 , 360px);
                    width: 90%;
                }

                .card {
                    padding: 10px 30px;
                    background-color: #FFF;
                    border: solid 1px #DDD;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: all .3s ease-in-out;

                    &:hover {
                        border: solid 1px $main-color;
                    }

                    .card-header {
                        display: flex;
                        justify-content: space-between;
    
                        .person-info {
                            flex:3;
                            display: flex;
    
                            .person-name {
                                padding: 14px;
    
                                h4 , p {
                                    margin: 0px;
                                }
    
                                h4 {
                                    font-size: 16px;
                                }
    
                                p {
                                    font-size: 14px;
                                    color:#4F5665;
                                }
    
                            }
 
                        }

                        .rate {
                            flex: 1;
                            
                            p {
                                text-align: right;
                            }

                        }
                    }

                    .card-body {
                        p {
                            color: #0B132A;
                            font-size: 16px;
                        }
                    }
 
                }

           }

           .control-testimonial {
                width: 80%;
                margin: auto;
                display: flex;
                justify-content: space-between;
                padding: 20px 0px;

                .dotes {
                    display: flex;
                    justify-content: space-between;
                    column-gap: 10px;

                    .dote {
                        height: 12px;
                        width: 12px;
                        border-radius: 50%;
                        background-color: #FFF;
                        border: solid 1px #DDD;
                        cursor: pointer;

                        &.active {
                            background-color: $main-color;
                        }
                    }

                }

                .left-right {
                    display: flex;
                    align-items: center;
                    column-gap: 10px;

                    button {
                        background-color: #FFF;
                        border-radius: 50%;
                        height: 30px;
                        width: 30px;
                        border: solid 1px $main-color;
                        display: grid;
                        place-content: center;
                        cursor: pointer;
                    }
                }
           }

       }

   }

   footer {

      .subscribe {
            width: 60%;
            margin: auto;
            display: flex;
            padding: 13px 25px;
            background: #FFF;
            justify-content: space-between;
            border-radius: 15px;
            border: solid 1px #DDD;
            margin-top: -69px;
            margin-bottom: 30px;

            @media (max-width: 560px) {
                width: 70%;
            }

            div:first-of-type {
                width: 50%;
                h1 {
                   font-size: 30px;
                   margin-bottom: 0px;

                   @media (max-width: 1060px) {
                       font-size: 25px;
                   }

                   @media (max-width: 890px) {
                       font-size: 20px;
                   }

                   @media (max-width : 670px) {
                       font-size: 16px;
                   }

                   @media (max-width: 560px) {
                       font-size: 14px;
                   }

                }

                p {
                    margin-top: 8px;
                    font-size: 15px;
                    color: #0B132A;

                    @media (max-width: 560px) {
                        font-size: 11px;
                    }
                }
            }

            div:last-of-type {
                display: grid;
                place-content: center;

                button {
                    background: #F53838;
                    border-radius: 10px;
                    padding: 10px 25px;
                    color: #FFF;
                    cursor: pointer;
                    border: none;
                    box-shadow: 0px 8px 13px rgba(245 ,  56 ,  56 , 0.35);

                    @media (max-width : 560px) {
                        padding: 10px 17px;
                    }
                }
            }

        
      }

      .footer {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr 1fr;
            width: 60%;
            margin: auto;
            padding-bottom: 20px;

            @media (max-width : 1000px) {
                width: 80%;
            }

            @media (max-width : 650px) {
                grid-template-columns: 1fr 1fr;
            }


            div:first-of-type {
                p {
                    font-size: 15px;

                    &.social-media {
                        margin-left: -20px;
                    }

                    @media (max-width: 780px) {
                        font-size: 13px;
                    }
            
                }

                .copyright {
                    color: #AFB5C0;
                }
            }

           div:not(:first-of-type) {
               h3 {
                   text-align: center;
                   font-size: 16px;
               }

               ul {
                   margin: 0px;
                   list-style-type: none;
                   padding-left: 34%;
                   
                   li {
                       text-align: left;
                       margin: 13px 0px;
                       font-size: 14px;
                   }
               }
           }


           @media (max-width : 650px) {
                grid-template-columns: 1fr 1fr;
                row-gap: 10px;
                div:nth-of-type(3) {
                    h3 {
                        text-align: left;
                    }
                   ul {
                    padding-left: 0px;
                   }
                }

                div:nth-of-type(1) {
                    p {
                        font-size: 11px;
                        margin: 24px 0px;
                    }
                    p.social-media {
                         margin-top: 11px;
                         margin-bottom: 11px;
                        a {
                            img {
                                width: 55px;
                                height: 55px;
                            }
                        }
                    }
                }

                div:not(:first-of-type) {
                    ul {
                        li {
                            margin: 5px 0px;
                        }
                    }
                }

            }

          
      }

   }
  

} 